<footer class="bg-dark text-white py-4 mt-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p class="small">At Secrets, we value your privacy and believe that sharing your secrets anonymously can be a freeing experience. Let your secrets out in a safe space.</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-white mx-2"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p class="small">Email: <a href="mailto:support@secrets.com" class="text-white">support@secrets.com</a></p>
          <p class="small">Phone: +1-234-567-890</p>
        </div>
      </div>
      <hr class="bg-white">
      <p class="small">&copy; 2024 Secrets. All Rights Reserved.</p>
    </div>
  </footer>
  
  <!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHrdkwpA2tnhN2h0aLbOPlO1z0K6JWg1OWCtJZ0XtA2VxQVW1yMOsqbwF" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIyP5CRDMvLBPzEkMP5lv2vgcSL9M3dVb4G5JpJ" crossorigin="anonymous"></script>
  
  </body>
  </html>
  