<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-exclamation-circle fa-6x"></i>
    <h1 class="display-3">Missing Credentials</h1>
    <p class="lead">Please provide both a username and a password to proceed.</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="<%= redirectUrl %>" role="button">Go Back</a>
  </div>
</div>

<%- include('partials/footer') %>
