<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-exclamation-circle fa-6x"></i>
    <h1 class="display-3">User Already Exists</h1>
    <p class="lead">It seems like you already have an account with us.</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Go to Login Page</a>
  </div>
</div>

<%- include('partials/footer') %>