<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-lock fa-6x"></i>
    <h1 class="display-3">Wrong Password</h1>
    <p class="lead">The password you entered is incorrect.</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Try Again</a>
  </div>
</div>

<%- include('partials/footer') %>
